nav {
  background-color: #515151;
}
.navbar-brand,
.nav-link {
  color: #f8f8f8 !important;
}

.nav-link:hover {
  background-color: #646464;
}

.nav-link.active {
  background-color: white;
  color: #515151 !important;
}
